@use "./def" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

*::selection,
*::-moz-selection {
    color: $color-text;
    background-color: $color-blurple;
}

html {
    font-size: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-padding: 10em 0 0 0;
    height: -webkit-fill-available;
    -webkit-text-size-adjust: 100%;
    font-feature-settings: "palt";
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: $font-sans;
    font-size: $type-base;
    color: $color-text;
    column-rule: $color-text;
    background-color: $color-sheet;
    @supports (-webkit-touch-callout: none) {
        height: -webkit-fill-available;
    }
    @media (min-width: $screen-medium) {
        font-size: $type-base-medium;
    }
    @media (min-width: $screen-large) {
        font-size: $type-base-large;
    }
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration-thickness: 0.1em;
    text-decoration-width: 0.1em;
}

a, a:visited {
    color: inherit;
}

a:hover {
    color: $color-link;
    text-decoration-color: $color-link;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: $space-medium 0 $space-x-small 0;
    padding: 0;
    font-weight: 700;
    line-height: 1.25;
}

h1 {
    margin: 0 0 $space-x-small;
    font-size: $type-xx-large;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -0.03em;
    @media (min-width: $screen-medium) {
        font-size: $type-xxx-large;
    }
}

h2 {
    font-size: calc($type-xx-large - 25%);
    @media (min-width: $screen-medium) {
        font-size: $type-xx-large;
    }
}

h3 {
    font-size: calc($type-x-large - 15%);
    @media (min-width: $screen-medium) {
        font-size: $type-x-large;
    }
}

h4,
h5,
h6 {
    font-size: $type-large;
}

p,
ul,
ol {
    margin: 0 0 $space-medium 0;
    padding: 0;
    line-height: 1.5;
}

ul,
ol {
    margin-left: 1em;
}

li {
    margin: 0 0 $space-small 0;
}

li ul,
li ol {
    margin: $space-small 0 $space-medium $space-medium;
}
