@import "./base/elements.scss";
@import "./utils/animation.scss";
@import "./utils/effects.scss";
@import "./utils/type.scss";
@import "./utils/grid.scss";
@import "./components/header.scss";
@import "./components/section.scss";

.Container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}