@import "./base/elements.scss";

.Container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Row {
    display: flex;
    align-items: center;
}