@use "../base/def" as *;

.type--x-small {
    font-size: $type-x-small;
}

.type--small {
    font-size: $type-small;
}

.type--medium {
    font-size: $type-medium;
}

.type--large {
    font-size: $type-large;
}

.text--cliped {
    color: transparent;
    background: center/115% auto no-repeat;
    background-clip: text;
}