<!DOCTYPE html>
<html lang="ja">

<head>
    <% template "Head" . %>
    <title><% .title %></title>
</head>
<body>
    <main class="Container">
        <h1>My first Website!!</h1>
    </main>
</body>

</html>